.project
debian/emoncms*
settings.php
old.settings.php
emoncms.log
.idea

# Ignore all modules except core ones
Modules/*
Modules/*/
!Modules/admin/
!Modules/feed/
!Modules/input/
!Modules/time/
!Modules/user/
!Modules/vis/
!Modules/site/
# Ignore all themes except basic
!Theme/basic/
